* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: gray;
}

.menu {
    display: flex;  
    gap: 15px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.content{
    transition: margin-top 0.7s ease-in-out;
}

h1{
    margin: 20px;
}

 .contenedor {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 20px;
}

.contenedor img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.contenido {
    width: 50%;
    padding: 20px;
    text-align: left;
}

.contenido h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.contenido p {
    font-size: 16px;
    color: #555;
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        width: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.7s ease-in-out;
    }

    .menu a {
        padding: 10px;
        text-align: center;
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .menu.active {
        max-height: 200px; 
    }

    .contenedor {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .contenedor img {
        width: 100%; 
    }

    .contenido {
        width: 100%; 
        padding: 15px;
    }
}