* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: gray;
}

.menu {
    display: flex;  
    gap: 15px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.content{
    transition: margin-top 0.7s ease-in-out;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

#formulario {
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.btn:hover {
    background: rgb(0, 0, 112);
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    resize: none; 
    overflow-y: hidden; 
    min-height: 50px; 
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        width: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.7s ease-in-out;
    }

    .menu a {
        padding: 10px;
        text-align: center;
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .menu.active {
        max-height: 200px; 
    }

    #formulario{
        max-width: 100%;
    }
}
